/* === Modal.css === */

.custom-modal .modal-content {
  border-radius: 12px;
  padding: 1rem 0;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.custom-modal .modal-header {
  border-bottom: none;
}

.custom-modal .modal-title {
  font-weight: 600;
}

.custom-modal .modal-body {
  padding-top: 0;
}

.custom-modal .form-label {
  font-weight: 500;
}

.custom-modal .form-control {
  border-radius: 8px;
}

.custom-modal .btn-primary {
  background: #ff7f50;
  border: none;
}

.custom-modal .btn-primary:hover {
  background: #ff6240;
}

.custom-modal .link-button {
  background: none;
  border: none;
  color: #ff7f50;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.custom-modal .link-button:hover {
  color: #ff6240;
}


/* }Mobile search modal */

.mobile-search-modal .modal-content {
  background-color: #ffffff;
  padding: 1rem;
}

.mobile-search-input {
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.mobile-search-close {
  background-color: transparent;
  border: none;
  color: #000;
}
