.carousel-wrapper {
  width: 100%;
  margin: 15px auto;
  /* Center horizontally */
  height: 550px;
  /* Fixed height */
  overflow: hidden;
  border-radius: 16px;
  /* Optional: for nice rounded corners */

}

/* Image fills the carousel box, even with different dimensions */
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 16px;
  /* Optional: for nice rounded corners */

  display: block;
}

@media (max-width: 768px) {
  .carousel-wrapper {
    width: 95%;
    height: 170px;
  }
}